[submodule "xfinal"]
	path = xfinal
	url = https://hub.fastgit.org/xmh0511/xfinal
[submodule "taskpool"]
	path = taskpool
	url = https://hub.fastgit.org/fawdlstty/taskpool
[submodule "ormpp"]
	path = ormpp
	url = https://hub.fastgit.org/qicosmos/ormpp
	branch = master
