[submodule "xfinal"]
	path = xfinal
	url = https://github.com/xmh0511/xfinal
[submodule "taskpool"]
	path = taskpool
	url = https://github.com/fawdlstty/taskpool
[submodule "ormpp"]
	path = ormpp
	url = https://github.com/qicosmos/ormpp
	branch = master
